@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --background-primary: #eeeeee;
  --background-secondary: #dedede;
  --contrast-primary: #353535;
  --contrast-secondary: #5c5c5c;
  --accent: #0ad1b9;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--contrast-primary);
}

p,
a {
  color: var(--contrast-secondary);
}

a,
button {
  cursor: pointer;
}

h1 {
  font-size: 2.6rem;
  margin: 1.4rem 0;
}

h2 {
  font-size: 1.9rem;
  margin: 1.3rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

h4 {
  font-size: 1.35rem;
  margin: 1.2rem 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

h6 {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 1.1rem 0;
}

p {
  font-size: 1rem;
  color: var(--contrast-secondary);
}

hr {
  opacity: 0.35;
}

.accent {
  color: var(--accent);
}

.underline {
  text-decoration: underline;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }
}
